/***................login area...............***/
#btn1st {
    background: transparent;
    border: 2px solid crimson;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 800;
}
.login {
    color: crimson;
    font-weight: 800;
}
#btn1st:hover {
    background-color: crimson;
   color: white;
   
   
}
#login-area{
    margin: 150px 30px;
    
}
.form {
    box-shadow: 2px 4px 8px crimson;

}


/*****..............transaction area .....................*****/
#transaction {
    display: none;
    margin-top: 30px;
}
#transaction h1{
    color: white;
}
#transaction h5 {
    color: crimson;
}
.status{
    background-color:crimson;
    border-radius: 10px;
    padding: 8px;
    margin: 15px 8px;
}
.deposit {
    box-shadow: 2px 4px 8px crimson;
    padding: 10px;
    margin: 10px;
}
.withdraw {
    box-shadow: 2px 4px 8px crimson;
    padding: 10px;
    margin: 10px;
}
#withdraw-btn {
    background: transparent;
    border: 2px solid crimson;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 800;
}
#deposit-btn{
    background: transparent;
    border: 2px solid crimson;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 800; 
}
#deposit-btn:hover {
    background-color: crimson;
   color: white;
   
}
#withdraw-btn:hover {
    background-color: crimson;
   color: white;
   
}
#leave-btn {
    background-color: crimson;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    padding: 15px 80px;
    font-weight: 900;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    display: none;
   position: relative;
   left: 40%;
}
#leave-btn:hover {
    background: transparent;
    border: 2px solid crimson;
    color: crimson;
    

